<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>様、いつもありがとうございます。</h1>

    <p><%= "#{Date.today.strftime("%Y-%m-%d")}" %>
のご連絡です。</p>
  </body>
</html>